
body{
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.lbl{
    font-weight: bolder;
    text-align: center;
    font-style: italic;
    font-size: larger;
}
h2{
    background-color:rgba(121, 120, 120, 0.822) !important;
    color: white;
    font-style: oblique;
    font-weight: bolder;
}
::placeholder {
    font-style: italic;
  }
tr{
    font-weight: bolder !important;
}